/src/sdkbin
/src/Colectica.SampleAddins/bin
/src/Colectica.SampleAddins/obj
.vs/
artifacts/
packages/
*.user
/src/Colectica.Portal.SampleAddins/obj
/src/Colectica.Portal.SampleAddins/bin/Debug/net451
